.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html {
    background: #BDBDBD;
}

#sparkle_info {
    background: #009688;
    font-size: xx-large;
}

#sparkle_info h1{
    font-size: 4em;
}

#sparkle_info h2{
    font-size: 2.5em;
}

.index_auth {
    margin: 0.5em;
    border-radius: 0px;
}