<% include partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/week.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
    <script src="javascripts/update_calendar.js"></script>

    <script id="list-template" type="x-tmpl-mustache">
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        {{#list}}
            <div class="col-md-6">{{start_time}} - {{end_time}}</div>
            <div class="col-md-6 container">
                <span class="rwd-line"> <a href="/events/{{id}}"> {{name}} </a> </span>
            </div>
            <div class="clearfix"></div>
             <div class="bot-border"></div>
        {{/list}}
    </script>

</head>
<body>
<div class="container-fluid">
<div class="bot-border"></div>
    <div class="col-md-3"> </div>
    <div class="col-md-6 row">
        <div class="col-md-1">
            <img class="nav_btn" alt="Week before"
                 src="/sprites/glyphicons-217-circle-arrow-left.png"
                 id="prev_week">
        </div>
        <div class="col-md-10 text-center">
            <h4 id="week_dates"></h4>
        </div>
        <div class="col-md-1">
            <img class="nav_btn" alt="Next week"
                 src="/sprites/glyphicons-218-circle-arrow-right.png"
                 id="next_week">
        </div>
    </div>
    <div class="col-md-3"> </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
</div>
<div class="container-fluid">
    <%let num = 0;%>
    <div class="col-md-12">
        <div class="row">
            <%for(let i = 0; i < 4; i++) {%>
            <%let disp_date = "display_date_" + num%>
            <%let day_id = "event_list_" + num%>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container-fluid">
                            <div id="<%=disp_date%>"></div>
                        </div>
                    </div>
                    <div id="<%=day_id%>" class="panel-body"> </div>
                </div>
            </div>
            <%num++;%>
            <%}%>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <%for(let i = 4; i < 7; i++) {%>
            <%let disp_date = "display_date_" + num%>
            <%let day_id = "event_list_" + num%>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="<%=disp_date%>"></div>
                    </div>
                    <div id="<%=day_id%>" class="panel-body"> </div>
                </div>
            </div>
            <%num++;%>
            <%}%>
        </div>
    </div>
</div>
</body>
</html>