<% include partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
    <script src="javascripts/update_index.js"></script>

    <script id="list-template" type="x-tmpl-mustache">
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        {{#list}}
            <div class="col-md-5">{{start_time}} - {{end_time}}</div>
            <div class="col-md-7 container">
                <span class="rwd-line"> <a href="/events/{{id}}"> {{name}} </a> </span>
            </div>
            <div class="clearfix"></div>
             <div class="bot-border"></div>
        {{/list}}
    </script>

</head>
<body>
<%if (!user) {%>
<div class="container-fluid row" id="sparkle_info">
    <div class="col-md-7 big_text"> <H2>Sparkle</H2> <br> <H3> — your perfect calendar & planner</H3> </div>
    <div class="col-md-3">
        <div class="big_text"> Please, sign up before continuing </div>
        <div>
            <form action="/sign_up" method="get">
                <button class="btn btn-block btn-lg index_auth" type="submit">Sign up</button>
            </form>
            <form action="/login" method="get">
                <button class="btn btn-block btn-lg index_auth" type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>
<%} else {%>
    <div class="col-md-7">
        <div>
            <h2>Take a quick look on upcoming events</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1">
                            <img id="prev_day" class="nav_btn"
                                 alt="Day before"
                                 src="/sprites/glyphicons-217-circle-arrow-left.png"
                            >
                        </div>
                        <div class="col-md-10 text-center">
                            <h4 id="display_date"></h4>
                        </div>
                        <div class="col-md-1">
                            <img id="next_day" class="nav_btn"
                                 alt="Next day"
                                 src="/sprites/glyphicons-218-circle-arrow-right.png"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div id="event_list" class="panel-body"> </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="container-fluid action">
            <div class="col-md-5 action_container"> <img class="action_pic" src="https://upload.wikimedia.org/wikipedia/commons/6/69/Calendar_font_awesome.svg"></div>
            <div class="col-md-7 text-left">
                <a href="/calendar/week"><H1>See calendars </H1></a>
            </div>
        </div>
        <div class="container-fluid action">
            <div class="col-md-5 action_container"> <img class="action_pic" src="https://icon-icons.com/icons2/933/PNG/512/round-add-button_icon-icons.com_72595.png"></div>
            <div class="col-md-7 text-left">
                <a href="/add_event"><H1>Add new event</H1></a>
            </div>
        </div>
        <div class="container-fluid action">
            <div class="col-md-5"> <img class="action_pic" src="https://png.icons8.com/?id=14079&size=280"></div>
            <div class="col-md-7 text-left">
                <a href="/search"><H1> Search </H1></a>
            </div>
        </div>
    </div>

<%}%>
</body>
</html>