<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--todo change including bootstrap css -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="/sign_up" method="post">
        <label for="username">Username:</label>
        <input type='text' name='username' class='form-control' />
        <label for="username">Password:</label>
        <input type='password' name='password' class='form-control' value='' />
        <button class="btn btn-block btn-lg" type="submit">Sign up</button>
        <button class="btn btn-block btn-danger btn-lg" formaction="/" formmethod="get">Cancel</button>
    </form>
</div>
</body>
</html>