.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html {
    background: #BDBDBD;
    width: 100%;
}

#sparkle_info {
    background: #009688;
    font-size: xx-large;
}

#sparkle_info h1{
    font-size: 4em;
}

#sparkle_info h2{
    font-size: 2.5em;
}

.index_auth {
    margin: 0.5em;
    border-radius: 0px;
}

.text-left::before{
    width: 100%;
    content:"";
    margin-left:calc(100% - 90%);
}

.action {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    background-color: rgba(0, 121, 107, 0.1);

    border-left-style: solid;
    border-color: #00796B;
    border-width: 0.5em;
}

.action_pic {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #00796B;
}

a:link H1:hover {
    background-color: rgba(96, 125, 139, 0.2);
}

.bot-border {
    border-bottom:1px #B2DFDB solid;
    margin:5px 0  5px 0
}

.rwd-line a {
    display: block;
    page-break-inside: auto;
    page-break-after: always;
}