.navbar {
    background: #607D8B;
    border: 0px;
    border-radius: 0px;
}

.navbar button {
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 0px;
    /*background: #009688;*/
}

.dropdown-menu {
/*background: #607D8B;*/
border-radius: 0px;
}

.dropdown-menu li a:hover {
/*background: #009688*/
}

ul.nav li a, ul.nav li a:visited {
/*color: #FFFFFF;*/
}

ul.nav li a:hover, ul.nav li a:active {
/*color: #FFFFFF;*/
}

ul.nav li.active a {
/*color: #FFFFFF;*/
}