<link rel="stylesheet" href="stylesheets/navbar.css">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><div href="" class="navbar-brand"> Sparkle </div></li>
            <li><a href="/"> Home </a></li>
            <%if (user) { %>
            <li class="dropdown">
                <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <%if(user.fullname) {%>
                    <%=user.fullname%>
                    <%} else {%>
                    <%=user.username%>
                    <%}%>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="/calendar/week">My calendars</a></li>
                    <li><a href="/add_event">Add new event</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </li>
            <%} else {%>
            <li><a href="/login">Log in</a></li>
            <%}%>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">About</a></li>-->
            <!--<li><a href="#">Help</a></li>-->
        <!--</ul>-->
    </div>
</nav>