.panel {
    width: 100%;
    min-height: 35%;
    max-height: 35%;
    overflow-y: scroll;
    margin: 0.5em;
}

.bot-border {
    border-bottom:1px #B2DFDB solid;
    margin: 0.5em 0 0.7em 0
}

.nav_btn {
    margin-top: 0.3em;
}

a:link {
    /*text-decoration: none;*/
    color: #00796B;
}

a:visited {
    /*text-decoration: none;*/
    color: #00796B;
}